/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@top-banner-color: #70D93F;
@bottom-banner-color: #3F99D9;
@nav-dropdown-color: #FFFFFF;
@padding-nav: 17px;
@margin-nav: 18px;

.ie-hide {
  display:none;
}

#mainnav {
  height: 110px;
  position: absolute;
  padding-top: 0px;
}

#banner1 {
  background-color: @top-banner-color;
  background-size: cover;
  height: 6px;
}

#banner2 {
  background-color: @bottom-banner-color;
  background-size: cover;
  height: 6px;
  margin-top: 104px;
}

#forban {
  margin-top: -87px;
}

#nav-toggle {
  font-size: 20px;
}

.navbar-brand {
  margin-top: -33px;
  position: absolute;
}

#logo {
  width: auto;
  height: 75px;
}

.navbar-nav > li > a {
  padding-top: @padding-nav;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: @margin-nav;
  margin-left: @margin-nav;
}

.navbar-nav > .active > a {
  background-image: url(../img/arrow.svg);
  background-size: 19px auto;
  background-repeat: no-repeat;
  background-position: center 0px;
  padding-top: @padding-nav;
}

.navbar-nav > li > a:hover {
  border: 1px solid transparent;
  border-radius: 0px;
  border-bottom: 1px solid;
  padding-top: @padding-nav;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > li.dropdown.open > a {
  border: 1px solid transparent;
}

#jumbotron-main {
  background-image: url(../img/library-study.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

.jumbotron h1, .jumbotron p {
  color: #fff;
  text-align: center;
  font-family: "Exo", sans-serif;
}

.jumbotron h1 {
  font-weight: 600;
  margin-top: 100px;
}

.evt-title {
  margin-top: -10px;
}

.evt-break,
.smallscreen-break {
  display: none;
}

.bigscreen-break {
  display: block;
}

.scroll-to-top {
  width: 14px; 
  height: 14px;
  text-align: center;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  position:fixed;
  top: 90%;
  right: 5%;
  display: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.modal {
  display:    block;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              url("ajax/spinner.gif") 
              50% 50% 
              no-repeat;
}

.text-contain {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
}

.text-limit {
  text-overflow: ellipsis;
  overflow:hidden;
}

/* Small screen (phone) stuff */
@media (max-width: 768px) {
  #mainnav {
  	height: 80px;
  }

  #banner1 {
    height: 5px;
  }

  #banner2 {
  	height: 5px;
  	margin-top: 75px;
  }

  #forban {
  	margin-top: -75px;
  }

  #brandmain {
  	margin-top: -15px;
  	position: absolute;
  }

  #logo {
  	width: auto;
  	height: 50px;
  }	
  .navbar-nav > .active > a {
  	background-image: none;
  }

  .navbar-nav > li > a:hover,
  .dropdown-menu > li > a:hover {
  	border-bottom: 1px solid transparent;
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover, {
  	border: 1px solid transparent;
  }
  #jumbotron-main {
  	height: 400px;
  }

  .jumbotron p > a {
  	display: none;
  }

  #nav-toggle {
  	background-color: @nav-dropdown-color;
  }

  .bigscreen-break {
  	display: none;
  }

  .evt-break,
  .smallscreen-break {
  	display: block;
  }

}
/*End Media Query*/

