/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#mainnav {
	height: 110px;
	position: absolute;
}
#banner1{
	background-color: #70D93F;
	background-size: cover;
	height: 6px;
}
#banner2{
	background-color: #3F99D9;
	background-size: cover;
	height: 6px;
	margin-top: 104px;
}
#forban {
	margin-top: -87px;
}
#toggleclass {
	font-size: 1.1em;
}
.navbar-brand {
	margin-top: -33px;
	position: absolute;
}
#logo {
	width: auto;
	height: 75px;
}
#jumbotron-main {
	background-image: url(../img/library-study.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 550px;
}
.jumbotron h1, .jumbotron p{
	color: #fff;
	text-align: center;
}
.jumbotron h1 {
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	margin-top: 100px
}



/*Media Query*/
@media (max-width: 768px) {
#mainnav {
	height: 80px;
	position: absolute;
}
#banner1{
	background-color: #70D93F;
	background-size: cover;
	height: 5px;
}
#banner2{
	background-color: #3F99D9;
	background-size: cover;
	height: 5px;
	margin-top: 75px;
}
#forban {
	margin-top: -75px;
}
#brandmain {
	margin-top: -15px;
	position: absolute;
}
#logo {
	width: auto;
	height: 50px;
}	
#jumbotron-main {
	height: 400px;
}
.jumbotron p{
	display: none;
}
#toggleclass{
	background-color: #fff;
}
/*End Media Query*/

